* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.games-grid {
  display: grid;
  max-width: 1152px;
  margin: 0 auto;
  grid-template-columns: 0.8fr 0.2fr;
  grid-template-rows: repeat(4, 130px);
  border: 1px solid black;
  grid-template-areas:
    "main a"
    "main b"
    "main c"
    "main d";
}

.main-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/1.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: main;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.text {
  color: white;
}
.text > .title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 45px;
}
.text > .info {
  font-size: 18px;
  margin-bottom: 45px;
  width: 50%;
}
.button {
  display: block;
  padding: 13px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: rgb(0, 116, 228);

  color: white;
  width: 200px;
  border-radius: 5px;
  text-align: center;
}
.small-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.a {
  background-image: url("../images/2.webp");
  grid-area: a;
}
.b {
  background-image: url("../images/3.webp");
  grid-area: b;
}
.c {
  background-image: url("../images/4.webp");
  grid-area: c;
}
.d {
  background-image: url("../images/5.webp");
  grid-area: d;
}

.a:hover {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../images/2.webp");
  grid-area: a;
}
.b:hover {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../images/3.webp");
  grid-area: b;
}
.c:hover {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../images/4.webp");
  grid-area: c;
}
.d:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/5.webp");
  grid-area: d;
}

.small-title{
color:white;
font-size: 25px;
font-weight: bold;
margin-left: 15px;
margin-top: 20px;
opacity: 0;
}

.small-image:hover> div> .small-title{
animation-name: reveal;
animation-duration: .5s;
animation-fill-mode: forwards;
animation-timing-function: ease-out;}

@keyframes reveal {

  0%{
    opacity: 0;
    transform: translateY(-15px);
  }

  
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
  
}